.profile-container {
  text-align: center;
}

.top-track {
  margin-top: 2rem;
  text-align: center;
}

.time-range-buttons {
  margin-bottom: 1rem;
  text-align: center;
}

.time-range-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
  cursor: pointer;
}

.time-range-button.active {
  background-color: #333;
  color: $color-texto;
}

.track-list {
  display: grid;
  /* Hace que los elementos se ajusten automáticamente según el ancho disponible */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  grid-gap: 1rem;
  margin-top: 1rem;
}

.track-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.track-image {
  width: 100%;
  height: auto;
  max-width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.track-name {
  margin-top: 0.5rem;
}
