$color-fondo: #181818;
$color-primario: #1ed760;
$color-texto: #ffffff;
$radio-bordes: 5px;

body {
  background-color: $color-fondo;
  color: $color-texto;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

//Botones de tiempo
.time-range-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  background-color: $color-primario;
  color: $color-texto;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
  cursor: pointer;
}

// se añaden dos clases para cambiar el color de los botones
.time-range-button.inactive {
  background-color: #333;
}

.time-range-button.inactive:hover {
  background-color: #666;
}

@import 'Login';
@import 'Header';
@import 'Dashboard';
@import 'Profile';
@import 'Artista';
@import 'Music';
@import 'RecienEscuchada';
@import 'Playlist';
@import 'PlaylistDetails';